    {% block content %}
<title>Cargo</title>

<h1> Cargo</h1>
        <table class="table table-dark table-striped">
            <thead>
                <tr>

                    <th scope="col"> Numder</th>
                    <th scope="col">Longtitude pick_up</th>
                    <th scope="col">Latitude pick_up</th>
                    <th scope="col"> Longtitude delivery</th>
                    <th scope="col"> Latitude delivery</th>
                    <th scope="col"> Description</th>


                </tr>
            </thead>
             <tbody>
                    {{ object }}
                    <td>{{object.id}}</td>
                    <td>{{object.longtitude_pick_up}}</td>
                    <td>{{object.latitude_pick_up}}</td>
                    <td>{{object.longtitude_delivery}}</td>
                    <td>{{object.latitude_delivery}}</td>
                    <td>{{object.description}}</td>


            </tbody>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            {% for item in object.subject_set.all %}
                            <p>{{item.product_content }}</p>
                            <hr>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>





{% endblock %}